* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif; 
}

$color1: #808080;

$color2: #FFFFFF;

$color3: #000000;

$color4: #86d9ee;

body {
    color: $color3;
    position: relative;
    min-height: 100vh;
    background-color: $color4;
}

h1 { 
    font-size: 50px;
}

h2 {
    font-size: 50px;
    font-family: 'Rubik Marker Hatch', cursive;
}

h3 {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;    
}
