.texto {
    text-align: center;
}

.texto {
    p {
        text-align: left;
        margin-top: 15px;
    }
}

.comida {
    background-size: cover;
    background-position: center;
    @include cajas;
}