.navbar-brand {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.navbar-brand:hover {
  transition: all 0.8s ease-in-out;
  color: rgb(243, 243, 141);
  transform: scale(1.04);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.nav-item {
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}

.nav-link:hover {
  transition: all 0.8s ease-in-out;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  color: #000000;
  position: relative;
  min-height: 100vh;
  background-color: #86d9ee;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
  font-family: "Rubik Marker Hatch", cursive;
}

h3 {
  font-family: "Lobster", cursive;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: #FFFFFF;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./fotos/pizzabanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero a {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #FF0000;
  text-decoration: none;
  box-shadow: 3px 3px 3px #808080;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.texto {
  text-align: center;
}
.texto p {
  text-align: left;
  margin-top: 15px;
}

.comida {
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px 3px #808080;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap h2 {
  margin: 50px;
  text-align: center;
}
.wrap .column-2.carta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.wrap .plato-carta {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  height: 9.5rem;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.wrap .plato-carta:hover {
  background: #FFAF43;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.wrap .img-plato-carta {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}
.wrap .img-plato-carta img {
  max-width: 125px;
  max-height: 90px;
}
.wrap .title-plato-carta {
  border: 1px solid #000000;
  border-bottom: none;
  border-top: none;
  flex-basis: 60%;
  padding: 0 1rem;
}
.wrap .title-plato-carta h4 {
  font-size: 25px;
}
.wrap .title-plato-carta p {
  margin: 0;
  font-size: 15px;
}
.wrap .precio-plato-carta {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  font-weight: bold;
}

@media only screen and (max-width: 680px) {
  .wrap {
    padding: 20px;
  }
  .wrap .column-2.carta {
    grid-template-columns: repeat(1, 1fr);
  }
}
.h2-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.comentario {
  height: 250px;
}

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px;
}
#galeria img {
  width: 100%;
  height: 250px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 3px #808080;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
#galeria .titulo-galeria {
  margin: 50px;
}

@media only screen and (min-width: 768px) {
  #galeria img:hover {
    transition: all 0.8s ease-in-out;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
  }
}
#historia h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 3%;
}
#historia img {
  width: 90%;
}/*# sourceMappingURL=style.css.map */